.woocommerce ul.products li.product {
    text-align: center;
}

.woocommerce-product-gallery__image {
	margin-bottom: 30px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3, 
.woocommerce ul.products li.product .price {
    font-size: 18px;
}

.woocommerce ul.products li.product .price {
	display: none;
}

.woocommerce-billing-fields .form-row, 
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
	display: block;
}

.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2 {
	max-width: unset;
}

.woocommerce .quantity .qty,
.woocommerce-cart table.cart td.actions .coupon .input-text {
    border-radius: 0;
    padding: 5px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 150px;
}

.woocommerce button.button:disabled, 
.woocommerce button.button:disabled[disabled] {
	color: #fff;
}

.woocommerce-form-coupon #coupon_code {
    border-radius: 0;
    padding: 7px;
}

.woocommerce-form-coupon .form-row-last {
    float: left !important;
}

/* Button */

input.gform_button,
.button,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    background: #6abd45;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px !important;
    border-radius: 0;
    padding: 20px 30px;
}

.woocommerce a.button,
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	background: #000;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    padding: .618em 1em;
}

.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
    font-size: 18px;
    border-radius: 0;
    border: 0;
}

.btn-primary,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
	background: #6abd45;
    color: #fff;
}